# Payment Gateway Configuration

# Choose one: direct, http, hybrid
PAYMENT_MODE=direct

ETHEREUM_RPC_URL=https://sepolia.infura.io/v3/YOUR_PROJECT_ID
CONTRACT_ADDRESS=0x1234567890123456789012345678901234567890
PRIVATE_KEY=abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
GAS_LIMIT=300000


# Payment gateway server URL
PAYMENT_GATEWAY_URL=http://localhost:8081
# Port for the HTTP payment gateway server
PORT=8081

# Environment: development, staging, production
ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USER=fahed
DB_PASSWORD=junglebook
DB_NAME=fyp-go

# Chainlink Price Feed
ETH_USD_PRICE_FEED=0x694AA1769357215DE4FAC081bf1f309aDC325306

# Application Settings
FEE_PERCENTAGE=5
GAS_PRICE=20